body {
  padding-left: 10px; 
}

header h1 {
  font-family: 'Playfair Display SC', serif; font-size: 45px;
}

#train{
  font-family: 'Playfair Display', serif; font-size: 35px;
}

#summary {
  
}

section h2 {

}

#personaldetails {

}

#Experiences {

}


.champion {
 list-style-type: none; padding-left: 10px
}


.flame  {
 list-style-type: none;padding-left: 10px
}


.flame2  {
 list-style-type: none; padding-left: 10px
}


.first_ed {
 list-style-type: none; padding-left: 10px;
}

.second_ed {
   list-style-type: none; padding-left: 10px
}

#Hobbies {
  
}

#Skills {
  
}

.hobbies {
  line-height: 30px; list-style-type: none; padding-left: 10px
}

.skills {
  line-height: 30px; list-style-type: none; padding-left: 10px
}

#links {
  padding-left: 10px
}



footer {
	line-height: 200px;
}

 
 