header h1 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

#summary {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif;
}

section h2 {
  font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

#personaldetails {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif;
}

.champion {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; list-style-type: none; 
}


.flame  {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; list-style-type: none;
}


.flame2  {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; list-style-type: none; 
}


.first_ed {
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; list-style-type: none; 
}

.second_ed {
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; list-style-type: none; 
}





#Skills {
  list-style-type: none;
}

#Hobbies {
  list-style-type: none;
}


.hobbs {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; line-height: 30px;
}

.skill {
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond,  'Times New Roman', serif; line-height: 30px;
}



aside {
  font-family: Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}


footer {
	line-height: 200px;
}

 
 